:root {
  --background-color: #fff;
  --background-secondary-color: #eee;
  --text-color: #000;
  --link-color: #00f;
}
@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #111;
      --background-secondary-color: #333;
      --text-color: #eee;
      --link-color: #aaf;
  }
}